<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="carousel slide" id="carouselIndicator" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="jumbotron" id="jumbotron">
                            <h1 class="dispaly-4">Easy to Use</h1>
                            <p class="lead">Understandable on first look. No previous trainings required. Open it and start using.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="jumbotron" id="jumbotron">
                            <h1 class="dispaly-4">Easy to Maintain</h1>
                            <p class="lead">Less maintenance required and 24X7 support available.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="jumbotron" id="jumbotron">
                            <h1 class="dispaly-4">Low Cost</h1>
                            <p class="lead">Available at lowest possible cost. No extra charges. Including of all taxes.</p>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselIndicator" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselIndicator" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">next</span>
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="jumbotron" id="jumbotron1">
                <h3>Product Inventory Management</h3>
                <p class="lead">Product Inventory management is a systematic approach to sourcing, storing, and selling inventory—both raw materials (components) and finished goods (products). In business terms, inventory management means the right stock, at the right levels, in the right place, at the right time, and at the right cost as well as price.</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <h4 class="head">Features</h4>
            <ul>
                <li><p>Add New Products</p></li>
                <li><p>Edit details of Products</p></li>
                <li><p>Register New Users</p></li>
                <li><p>Maintain Inventory Easily</p></li>
            </ul>
        </div>
        <div class="col-lg-6">
            <h5>Stay in touch</h5>
            <ul class="list-group border-0 content">
                <li class="list-group-item pl-0 border-0 float-left">
                    <p class="content d-inline">pim@outlook.com</p>
                </li>
                <li class="list-group-item pl-0 border-0 float-left">
                    <p class="content d-inline">+345 578 59 45 416</p>
                </li>
                <li class="list-group-item pl-0 border-0 float-left">
                    <p class="content d-inline">Bootstrap inc | PO Box 23456 Little Lonsdale St New York Victoria 8011 USA</p>
                </li>
            </ul>
        </div>
    </div>
</div>
